* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #a1a1a1;
}

.back {
    background-color: #868484;
    margin-top: 20px;
    padding: 20px;
}

.sign button {
    margin-top: 10px;
    border: none;
    background-color: #464646;
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    color: white;
}

button:hover {
    background-color: rgb(228, 228, 228);
    color: #464646;
}

tr>td{
    width: 400px;
}

tr>td:first-child{
    margin-left: 20px;
    position: relative;
    text-align: end;
    right: 20px;
}


.d-none{
    display: none;
}

#wrongPass {
    color: rgb(163, 9, 9);
    padding-top: 10px;
    margin-bottom: 0px;
}